body {
    font-family: "Andale Mono", monospace;
    text-align: center;
}

.head{
    color: rgb(109, 140, 104);
    text-align: center;
    font-size: 4rem;
    margin-top: 20%;
}
#head{
    color: antique white;
    text-align: center;
    background: black;
    font-size: 4rem;
}
.headline{
    text-decoration: underline;
    text-align: left;
    margin-left: 5%;
    font-size: 2rem;
    display: block;
    background: lavenderblush;
}
.option{
    border: 1px solid rgb(109, 140, 104);
    display: inline;
    color:rgb(109, 140, 104);
    background: lavenderblush;
}
.pic{
    display: inline-block;
    max-width: 55%;
    height: auto;
    /* margin-top: 1.5%;
    margin-left: 10%; */
    border: 1px solid black
    
}
.pic:hover{
    border: 1px white;
}

.cap{
    color: solid black;
}

em {
    color:red;
}

p {
    text-align: left;
    display: block;
}
